@import "tailwindcss";

@theme {
  --font-sans: "poppins", sans-serif;
  --color-brand: #14bbb3;
}

@layer components {
  .btn-primary {
    @apply py-3 px-6 text-xl rounded-4xl ring-2 ring-brand cursor-pointer;
  }

  .link-effect {
    @apply hover:text-brand transition-colors duration-300;
  }
}

@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.8s ease-out forwards;
  }

  .underline-accent {
    position: relative;
    display: inline-block;
  }

  .underline-accent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 6px; /* make it taller so the brush texture shows */

    background-image: url("../assets/svg/brush-stroke.svg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-color: #14bbb3;
  }
}
